<div class="box">
  <div class="todo">
    <input
      type="text"
      *ngIf="isEditMode; else content"
      [(ngModel)]="newTitle"
      (blur)="editTitleHandler()"
    />
    <ng-template #content>
      <p (dblclick)="activateEditModeHandler()" class="title">
        {{ todos.title }}
      </p>
    </ng-template>

    <button (click)="removeTodoHandler()">X</button>
  </div>
  <div>
    <tl-tasks [todolistId]="todos.id"></tl-tasks>
  </div>
  <tl-filters-botton
    (changeFilterEvent)="changeFilter($event)"
    [filter]="todos.filter"
  ></tl-filters-botton>
  <tl-filters-footer [addedDate]="todos.addedDate"></tl-filters-footer>
</div>
